<% Object.keys(messages).forEach(function (type) { %>
  <div class="alert alert-<%= type %> col-sm-3" role="alert">
  <% messages[type].forEach(function (message) { %>
    <%= message %>
  </div>
  <% }) %>
<% }) %>
